# KiCad temporary files
*.lck
.history/
# Wearable backups
Wearable/Wearable-backups/
# Firmware build files
firmware/build/

# Wearable backups
Wearable/Wearable-backups/


#python enviroment for the app/pc python programs
.venv